/* General styles */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f3f3f;
    color: #ffffff;
}

/* Header styles */
header {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: 0;
}

.logo_principal{
    position: absolute;
            top: 0;
            right: 0;
            /* background-color: lightblue; */
            padding: 10px;
            margin: 10px;
}
/* Navigation styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0px;
    background-color: #c69c2e; /* Color de fondo del menú */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}
.intro {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-color: #c69c2e; /* Color de fondo */
    padding: 20px;
    height:50vh; /* Altura completa de la ventana */
    box-sizing: border-box;
}

.intro img {
    max-width: 400px; /* Ajusta el ancho de la imagen según necesites */
    margin-right: 30px; /* Espacio entre la imagen y el contenido */
    height: auto; /* Mantener la proporción de la imagen */
}

.contenido {
    /* background-color: blanchedalmond; */
    max-width: 450px; /* Ajusta el ancho del contenido según sea necesario */
    color: rgb(255, 255, 255); /* Color del texto */
    text-align: left; /* Alineación del texto */
    text-align: justify;
}

.sangria {
    text-indent: 1.5em; /* Define la sangría del párrafo */
}


.nav-content {
    display: flex;
    align-items: center;
    width: 100%;

}

.menu-wrapper {
    display: flex;
}
.div-promos{
background-color: aqua;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover, .dropdown-content a:hover {
    background-color: #ff9879;
}

/* Mostrar el contenido del dropdown en clic */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px; /* Ajusta el ancho según sea necesario */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 0;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Centered logo styling */
.img-logo {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 200px; /* Ajusta este valor según tus necesidades */
    height: auto;
}

.promos {
    padding: 50px 20px;
    text-align: center;
    /* background-color: #f7f7f7; Fondo ligero para la sección de promociones */
}

.promos h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

.promo-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes en la fila */
    gap: 100px; /* Espacio entre las imágenes */
}

.promo-images img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Borde alrededor de las imágenes */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
}

.contenido1 {
    display: flex;
    flex-direction: column; /* Alinea la imagen y el texto en columna */
    align-items: center; /* Centra horizontalmente */
    background-color: #c69c2e;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    max-width: 400px;
}

/* Estilos específicos para el título y párrafo dentro de .contenido1 */
.contenido1 h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: rgb(0, 0, 0);
}

.contenido1 p {
    font-size: 1em;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}

/* Media query para ajustar el diseño en pantallas pequeñas */
@media (max-width: 768px) {
    .promo-images {
        flex-direction: column;
        align-items: center;
    }

    .promo-images img {
        max-width: 80%; /* Ajuste del ancho de las imágenes en pantallas pequeñas */
        margin-bottom: 20px; /* Espaciado inferior para imágenes en columnas */
    }
}
/* Header content styles */
.header-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-top: 80px; /* Desplazar contenido para dar espacio a la barra de navegación fija */
}

.logo {
    width: 340px; /* Cambiamos el tamaño del logo centrado */
    height: auto;
    margin-bottom: 20px;
    z-index: 2;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido */
}
.order-button-promociones{
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.order-button {
    background-color: #c69c2e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.order-button:hover ,.order-button-promociones:hover{
    background-color: #ff3c00;
}
.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

social-icons img {
    width: 40px; /* Ajusta el tamaño de los íconos sociales */
    height: 40px;
}

/* Section styles */
.intro,  .services {
    padding: 40px 20px;
    text-align: center;
}



.service-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-columns .column {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

/* Footer styles */
footer {
    background-color: #c69c2e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-icons a {
    color: white;
    text-decoration: none;
    margin:  10px;
}
/* ---------final ------------- */
.footer {
  background-color: #3f3f3f;
  color: #ffffff;
    height: 300px;
  padding-bottom: 1rem;
  overflow: hidden;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  color: #c69c2e;
  text-decoration: none;
}
.footer .section-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  width: 100% ;
  
}
.footer .row > div {
  flex: 1;
  margin-bottom: 2rem;
}
.footer .social-icons a {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #ffffff;
}
.footer .social-icons a:hover {
  color: #c69c2e;
}
.footer .contact-info i {
  margin-right: 1rem;
}
.footer .copyright {
  background-color: #c69c2e;
  padding: 1rem 0;
  text-align: center;
  
}
.container {

  width: 90%;
  margin: 0 auto;
}